body {
    background-color: #A40;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6, p, span, a, button, input {
	margin: 0.15em;
}

header {
	padding: 1rem;
	background-color: #663;
}

header a {
    background-color: #3F7;
    border-radius: 2rem;
    padding: 0.3rem;
}
