button {
	background-color: #7a6238;
	border: 0.2rem solid #bfa867;
	border-radius: 1rem;
}

button:hover {
	background-color: #Aa9268;
}

input {
	background-color: #bfb6a6;
	border: 0.15rem solid #a18538;
	border-radius: 0.1rem;
}

section.campaigns {
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#campaign-list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 0.5rem;

	width: min(40rem,50%);
}

div.campaign-card {
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 0.3rem solid #bfa867;
	background-color: #7a6238;
	height: 10rem;

	position: relative;


	p {
		color: #CFCFCF;
	}

	button {
		position: absolute; 
		right: 0.5rem;
		top: 0.5rem;
	}
}

#add-campaign-form {
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 0.2rem solid #bfa867;
	background-color: #7a6238;
} 
